NEXT_PUBLIC_SUBGRAPH_URL=
NEXT_PUBLIC_PARA_API_KEY=
NEXT_PUBLIC_ORIGIN_API=
NEXT_PUBLIC_PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJiYTY2ZmI3Yi00Y2Y3LTQ2OTMtYjI1Ni05ZjQzMjM5Zjg4ODciLCJlbWFpbCI6Im1hZGhhdkBjYW1wbmV0d29yay54eXoiLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJGUkExIn0seyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJOWUMxIn1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiMzM5MTVhOTVjMDg5NmJiMGVkZTQiLCJzY29wZWRLZXlTZWNyZXQiOiJmZjcwZDkyMmVkN2RmZGQyYmIwMzk1MTI0ZmIyN2ZlNjBjNGFlMjEzYzUwODZhNjlhNTc1ZmNlMmE1YzhlY2QzIiwiZXhwIjoxNzk0NjMyMDUyfQ.IpbQ2XwUivAPf2MltHo7_PVPWSXTma0PzY7w1l-_DhI